.vscode/
dense_twenty/data/*
dense_twenty/trained_models/
dense_twenty/__pycache__/
dense_twenty/.ipynb_checkpoints/

SAS/data/*
SAS/trained_models/
SAS/models/__pycache__
SAS/plots/
SAS/__pycache__/
SAS/runs/
SAS/.ipynb_checkpoints/

Interspeech/data/*
Interspeech/trained_models/
Interspeech/models/__pycache__
Interspeech/plots/
Interspeech/__pycache__/
Interspeech/runs/
Interspeech/.ipynb_checkpoints/






